@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@inject UCDASearches_Blazor.Security.ISimpleAuthService Auth
@using UCDASearches_Blazor.Components.Auth

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <HeadOutlet />
</head>
<body>
    <CascadingAuthenticationState>
   @*      <MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
 *@
<AuthInit />   <!-- restore persisted login once per app load -->
        <Routes />
    </CascadingAuthenticationState>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>

